/Gamificacion_10/nbproject/private/
/Gamificacion_10/dist/
/Gamificacion_10/build/
/Gamificacion_11/nbproject/private/
/Gamificacion_11/dist/
/Gamificacion_11/build/
/claseOnline_21_12_21/nbproject/private/
/claseOnline_21_12_21/dist/
/claseOnline_21_12_21/build/
